.DS_Store
grafana-storage/
notes.txt
influxdb2-storage/
influxdb2-config/
.env
telegraf/done/
telegraf/err/
telegraf/in/
telegraf/archives/
influxdb-lines.txt
article-fr.md
postgres-storage/

# Ignorer tous les fichiers dans telegraf/config/
telegraf/config/*

# Ne pas ignorer les fichiers spécifiques
!telegraf/config/telegraf-directory-scan.conf
!telegraf/config/telegraf-iris.conf