<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sql-stats-api.ZPM">
    <Module>
      <Name>sql-stats-api</Name>
      <Description>API to expose sql stats for InfluxDB, Telegraf using 'line protocol' or JSON.</Description>
      <Version>1.1.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.sqlstats.PKG"/>
      <CSPApplication 
        SourcePath="/web"
        DeployPath="${cspdir}/sqlstats/api"
        Url="/csp/sqlstats/api" 
        CookiePath="/csp/sqlstats/api/"
        PasswordAuthEnabled="1"
        AuthenticationMethods="32" 
        Recurse="1"
        MatchRoles=":%DB_${Namespace}"
        DispatchClass="dc.sqlstats.rest.Main"/>
      <Invoke Class="dc.sqlstats.services.Install" Method="Init" Phase="Compile" When="After" CheckStatus="true"></Invoke>
      <SystemRequirements Version=">=2022.1" />
    </Module>
  </Document>
</Export>